html, body{
  margin: 0;
}

a:link{
  text-decoration: none;
  color: #fff;
}

a:visited{
  color: #fff;
}

a:hover{
  color: rgba(163,170,250, 1);
}

h1, h2, h3{
  margin: 0;
}

#fixed-banner{
  width: 100%;
  height: 85px;
  bottom: 0;
  left: 0;
  padding-bottom: 40px;
  background-color: #000000;
  position: fixed;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  z-index:1;
  }

.logo{
  width: 10%;
  height: 100%;
  float: left;
}

.logo h1{
  text-align: center;
  padding: 15px 0px;
  font-family: 'Kaushan Script', cursive;
}

.menu{
  height: 100%;
  width: 62%;
  float: right;
  font-size: 1.2em;
  font-family: 'Kaushan Script', cursive;
}

.menu ul{
  position: relative;
  top: 15px;
  float: right;
  padding-right: 5%;
}

.menu li{
  display: inline-block;
  padding: 0px 10px;
}

#banner{
  height: 900px;
  width: 100%;
  background: url("../img/blurred-lights.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.space-container{
  height: 30%;
  width: 100%;
}

.banner-container{
  height:240px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative 0;
  text-align: center;
  color: #fff;
  padding: 40px 0 0 0;
  font-size: 2em;
}

#banner div{
  padding: 12px 0;
}

#banner h1{
  margin: 0;
  font-family: 'kaushan script', cursive;
  font-size: 2em;
}

#banner button{
  height:60px;
  width: 160px;
  background-color: rgba(255,255,255, 0.2);
  border: 4px solid #fff;
  color: #fff;
  font-size: 20px;
  font-family: 'kaushan script', cursive;
}

#banner button:hover{
  background-color: rgba(163,170,250, 0.7);
  color: #fff;
  border: 6px solid #fff;
  font-weight: bold;
}

#about{
  height: 470px;
  width: 100%;
  padding: 35px 0;
}

.about-container{
  height: 75%;
  width: 85%;
  margin: 0 13% auto;
}

#about article{
  width: 25%;
  height: 100%;
  background-color: #fff;
  float: left;
  margin: 0 32px;
  padding: 15px 12px;
  border-radius: 5px;
}

#about h1{
  text-align: left;
  font-size: 1.4em;
  font-family: 'Kaushan Script', cursive;
}

#about article{
  text-align: left;
  font-family: 'Arial';
  font-size: 1.3em;
}

#about article p{
  font-family: 'Arial';
  line-height: 200%;
  color: #777;
  font-size: 1.2em;
}

#skills{
  height: 800px;
  width: 100%;
  float: left;
  display: inline-flex;
  background-color: #000;
}

.skills-box{
  height: 800px;
  width: 100%;
  float: left;
  background-color: red;
}

.skills-container{
    width: 100%;
    height: 100%;
    background-color: black;
}

#skills img{
  height: 70%;
  padding: 15px 70px;
  margin: 125px 0;
  background-size: cover;
}

.skills-info{
  height: 800px;
  width: 100%;
  float: left;
  background-color: #000;
}

.skills-info i{
  color: rgba(163,170,250, 1);
}

.skills-content{
  height: 35%;
  width: 90%;
  padding-top: 5%;
  background-color: #000;
}

#skills p{
  width: 100%;
  font-family: arial;
  color: #fff;
  line-height: 200%;
  font-size: 1.3em;
  }

#skills h1{
  color: #fff;
  font-family: arial;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

  #skills article{
    width: 40%;
    height: 23%;
    background-color: #000;
    float: left;
    margin: 30px 32px;
    padding: 15px 12px;
}

#testimonials {
  background-color:  #fff;
  width: 100%;
  height: 300px;
  float: left;
}

.quotes-container{
  position: relative;
  padding: 0 45px;
}

.myquotes {
    display:none
}

.myquotes h1{
  font-family: 'Playball', cursive;
  font-size: 4em;
}

.myquotes p{
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer;}

.w3-badge {height:13px;width:13px;padding:0;}

.bubbles {margin-bottom: -35px!important;}

.bubble, .hover-bubble:hover{
  color: rgba(163,170,250, 1)!important;
  background-color:  rgba(163,170,250, 1)!important;
}

.bubble-border{
  border: 1px solid #000!important;
}

#contact{
  height: 630px;
  width: 100%;
  float: left;
  padding: 25px 0;
  background-color:black;
  background-size: cover;
  background-position: top;
}
.contact-details{
  margin-left: 5%;
  margin-right: 55%;
}
#contact h1{
  margin-left: 5%;
  text-align: left;
  font-size: 3em;
  color:  rgba(163,170,250, 1);
  font-family: 'Kaushan Script', cursive;
}

#contact p{
  padding: 5% 0;
  color: #fff;
  float:left;
  line-height: 35px;
  font-size: 1.2em;

}

.form-box{
  height: 350px;
  width: 45%;
  padding: 20px;
  margin-right: 5%;
  float:right;
  background-color: #000;
  border-radius: 10px;
}

#contact label{
  font-size: 1.6em;
  color: rgba(163,170,250, 1);
  font-family: 'Kaushan Script', cursive;
}

#contact input{
  height: 40px;
  width: 100%;
  margin: 10px 0;
}

#contact textarea{
  width: 100%;
  height: 125px;
  margin: 20px 0;
}

#contact button{
  height:50px;
  width: 160px;
  background-color: rgba(255,255,255, 0.2);
  border: 4px solid rgba(163,170,250, 1);
  color: rgba(163,170,250, 1);
  font-size: 28px;
  font-family: 'Kaushan Script', cursive;
}

#contact button:hover{
  background-color: rgba(163,170,250, 0.7);
  color: #fff;
  border: 6px solid #fff;
  font-weight: bold;
}

/*Footer Styles*/
footer{
  height: 260px;
  width: 100%;
  background-color: #000;
  clear:both;
  float:left;
}

.copyright p{
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}

.sm-icons{
  width: 210px;
  height: 60px;
  margin: 0 auto;
}

.icon{
  height: 60px;
  width: 60px;
  background-color: rgba(255,255,255,.2);
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i{
  font-size: 2em;
  padding: 15px;
}

#map{
  width:100%;
  display: inline-block;
}

.map-container{
  width: 30%;
  height: 350px;
}

#map iframe{
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#video{
  width: 100%;
  display: inline-block;
}

.vid-container{
  width: 100%;
  height: 100%;
}

#video iframe{
  width: 100%;
  height: 100%;
}

#empty{
  display: inline-flex;
  height: 500px;
  width: 100%;
  background-color: black;
  float: left;
}
